header {
  padding: 24px;
  color: white;
  background-color: #343434;
}
nav {
  align-items: center;
  justify-content: space-between;
  display: flex;
  ul {
    list-style: none;
  }
  span,
  li {
    cursor: pointer;
    &:hover {
      color: rgb(93, 255, 201);
    }
  }
}
