<div class="todosWrap">
  <p>todos works!</p>
  <!-- from fake data: -->
  <!-- <p>test: {{ todoItems()[0].title }}</p> -->
  <h3>Todo List:</h3>

  @if (isLoading()) {
  <p>Loading...</p>
  }@else {
  <form>
    <label>Filter Todos: </label>
    <input
      name="searchTerm"
      [(ngModel)]="searchTerm"
      placeholder="search todos..."
    />
  </form>

  <ul class="todos">
    @for (todo of todoItems() | filterTodos: searchTerm() ; track todo.id) {
    <app-todo-item (todoToggled)="updateTodo($event)" [todo]="todo" />
    }
  </ul>
  }
</div>
